<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="dark">
      <ion-back-button  [text]=" "></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Congratulations</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="valide-icon">
   <img src="../../../assets/imgs/ok.png">
  </div>

  <p style="padding-left: 10px; padding-right: 10px; text-align: justify; font-size: 13px; color: rgba(0, 0, 0, 0.9);">
    Les géants de la technologie Google, Microsoft et Facebook appliquent les leçons de l'apprentissage automatique à la traduction, mais une petite entreprise</p>
</ion-content>
<ion-footer class="ion-no-border">
 <ion-button color="primary" expand="full" routerLink="/home/man" routerDirection="forward"
 >FINISHED</ion-button>
</ion-footer>